* { margin: 0; padding: 0; font-family: 'PT Serif', serif; text-decoration: none; }
html, body { font-family: 'PT Serif', serif; overflow-x: hidden; }

.fv {
  position: relative;
  padding-top: 70px;
}

.fv__title {
  position: absolute;
  left: 55%;
  bottom: 0;
  transform: translate(-50%, -50%);
  font-family: 'PT Serif', serif;

  width: 100%;
  font-size: 35px;
}

.fv__title span {
  font-size: 14px;
}

.webgl {
  width: 100%;
  height: calc(100vh - 70px);
}

.stkr {
  pointer-events: none;
  position: fixed;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  border: solid #999 1px;
  background: transparent;
  border-radius: 50%;

  transition: transform 0.2s, top, 0.5s, left 0.5s, width .5s, height .5s, background-color .5s;
  transition-timing-function: ease-out;
  z-index: 1;
}