* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Nagoda";
  src: url(../fonts/Nagoda.ttf);
}
html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
  color: #D3A955;
  background-color: #3657BD;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
h1 {
  position: fixed;
  margin: 15px;
  font-size: 2rem;
  font-family: "Secular One", sans-serif;
  color: #D3A955;
}

main {
  position: relative;
  z-index: 1;
}
.wrapper {
  padding-top: 150px;
  transition: 0.5s;
}

.title {
  font-size: 60px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: "Nagoda", sans-serif;
}
.list {
  cursor: pointer;
}

.item {
  position: relative;
  padding: 80px 30px;
  border-bottom: dashed 2px #D3A955;
  mix-blend-mode: difference;
}

.movie-title > p {
  font-size: 35px;
  font-weight: 600;
  font-family: "Nagoda", sans-serif;
}

.movie-title > span {
  font-size: 12px;
}

.item > img {
  display: none;
}

.item > video {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  width: 100%;
  height: 100%;
  padding: 3rem;

  opacity: 0;
  visibility: hidden;
  user-select: none;
  transition: 0.5s;
  overflow-y: scroll;
}

.modal-wrapper {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.modal-image {
  width: 100%;
  margin: auto;
  aspect-ratio: 350 / 250;
}

.modal-text {
  user-select: none;
}

.modal-title {
  margin-top: 30px;
}

.modal-desc {
  margin-top: 30px;
}

.modal-desc p {
  line-height: 1.5;
}

.modal-button {
  margin-top: 30px;
  text-align: center;
}

.modal-button button {
  text-align: center;
  width: 150px;
  padding: 15px;
  background-color: #333;
  color: #fff;
  border-radius: 25px;
  font-family: "Nagoda", sans-serif;
}

.is-show {
  opacity: 1;
  visibility: visible;
  user-select: all;
  transition: 0.5s 1s;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  user-select: none;
  transition: 0.5s;
}