* {
  margin: 0;
  padding: 0;
}

html,
body,
main {
  font-family: Nacelle;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

canvas {
  position: fixed;
  z-index: -1;
}

header {
  position: absolute;
  top: 0;
}

h1 {
  margin: 15px;
  font-size: 2rem;
  font-family: "Secular One", sans-serif;
  color: #000;
  mix-blend-mode: difference;
}