* {
  margin: 0;
  padding: 0;
  font-family: "Secular One", sans-serif;
}
body {
  background-color: #fff;
}
.webgl canvas {
  position: relative;
}
.webgl__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;

  width: 100vw;
  height: 100vh;
}
.webgl {
  width: 500px;
  height: 700px;
}
/* .effect__wrapper {
  position: absolute;
  top: 28%;
  transform: translateY(-50%);
} */
.effect__wrapper label {
  display: block;
  margin-left: 15px;
  margin-bottom: 15px;
}

