* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
  background-color: #000;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
h1 {
  position: fixed;
  margin: 15px;
  font-size: 2rem;
  font-family: "Secular One", sans-serif;
  color: #fff;
  mix-blend-mode: difference;
}
.img-wrapper img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0;
}