* {
  margin: 0;
  padding: 0;
  font-family: Secular One, sans-serif;
}
html,
body {
  font-family: Secular One, sans-serif;
}
canvas {
  position: absolute;
  top: 0;
  z-index: -1;
  background-color: #fff;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 8px;
  mix-blend-mode: difference;
  color: #fff;
}
.header__title {
  position: relative;
  font-size: 32px;
  margin-top: 28px;
}
.header__title__number {
  position: absolute;
  top: -26px;
  left: 0;
  font-size: 16px;
  font-weight: normal;
}
.header__list {
  display: flex;
  gap: 16px;
  margin-top: 8px;
}
.header__link {
  text-decoration: underline;
}
.mv {
  position: relative;
  padding: 50px;
}
.mv__title {
  font-size: 40px;
}
.mv__text {
  margin-top: 8px;
  line-height: 1.5;
}
.mv__list {
  position: absolute;
  top: 60px;
  right: 50px;
  display: flex;
  gap: 16px;
}
.mv__link {
  text-decoration: underline;
}
.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.item {
  position: relative;
  width: 20%;
  aspect-ratio: 1 / 1;
}
.item-number {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  width: 3.5vw;
  height: 3.5vw;
  font-size: 2vw;
  background-color: #fff;
}
.item-link {
  display: flex;
  width: 100%;
  height: 100%;
}
.item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}