* {
  margin: 0;
  padding: 0;
}

html,
body,
main {
  font-family: Nacelle;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

h1 {
  position: fixed;
  z-index: 99;
  margin: 15px;
  font-size: 2rem;
  font-family: "Secular One", sans-serif;
  color: #000;
  mix-blend-mode: difference;
}

.button-list {
  position: absolute;
  right: 2vw;
  bottom: 2vw;

  display: flex;
  gap: 15px;
}

.button-item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: #fff;
}

.button-item button {
  font-size: 3vw;
}