* {
  margin: 0;
  padding: 0;
  font-family: "Secular One", sans-serif;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.container {
  width: 80vw;
  max-width: 1000px;
  margin: 0 auto;
}
.item {
  width: 100%;
}
.item:not(:first-of-type) {
  margin-top: 100px;
}
.item img {
  width: 100%;
  opacity: 0;
}
