* {
  margin: 0;
  padding: 0;
  font-family: "Secular One", sans-serif;
}
html,
body {
  font-family: "PT Serif", serif;
  overflow-x: hidden;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  height: 40px;
}
main {
  position: relative;
  height: 100vh;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.main__wrapper {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}

.main__title {
  position: relative;
  font-size: 70px;
  letter-spacing: 8px;
}

.main__desc {
  width: 650px;
  margin-bottom: 10px;
}

.main__director {
  margin-bottom: 10px;
}

.hero {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}

.hero__title {
  font-size: 60px;
}

.hero__title::before {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  width: 25px;
  height: 4px;
  border-radius: 1px;
  background-color: #000;
  content: "";
}

.main__title,
.main__desc,
.main__director,
.main__wiki {
  transform: translateX(-10);
  opacity: 0;
  visibility: hidden;
}
