:root {
  --text-width: 0px;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Nacelle";
  src: url(../fonts/Nacelle-HeavyItalic.otf);
}

html,
body,
main {
  font-family: Nacelle;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

h1 {
  position: fixed;
  z-index: 99;
  margin: 15px;
  font-size: 2rem;
  font-family: "Secular One", sans-serif;
  color: #000;
  mix-blend-mode: difference;
}

.wrapper {
  position: relative;
}

.card__list {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.card__item {
  cursor: pointer;
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}

.card {
  width: calc(590px / 2.5);
  height: calc(860px / 2.5);
}

.card img {
  width: 100%;
  opacity: 0;

  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}

.image__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100vh;
}

.image__wrapper div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: calc(590px / 1.5);
  height: calc(860px / 1.5);
  opacity: 0;

  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}

.text__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -99;
}

.text__wrapper p {
  line-height: 1;
  font-size: 12vw;
  white-space: nowrap;
  text-shadow: var(--text-width) 0 0;
  transform: translateX(0);
  will-change: transform;
}

.text__wrapper p {
  &:nth-child(1) {
    animation: 20s linear infinite loopText;
  }
  &:nth-child(2) {
    animation: 20s 1s linear infinite loopText;
  }
  &:nth-child(3) {
    animation: 20s 2s linear infinite loopText;
  }
  &:nth-child(4) {
    animation: 20s 3s linear infinite loopText;
  }
  &:nth-child(5) {
    animation: 20s 4s linear infinite loopText;
  }
  &:nth-child(6) {
    animation: 20s 5s linear infinite loopText;
  }
  &:nth-child(7) {
    animation: 20s 6s linear infinite loopText;
  }
  &:nth-child(8) {
    animation: 20s 7s linear infinite loopText;
  }
  &:nth-child(9) {
    animation: 20s 8s linear infinite loopText;
  }
  &:nth-child(10) {
    animation: 20s 9s linear infinite loopText;
  }
}

@keyframes loopText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
