* {
  margin: 0;
  padding: 0;
  font-family: Secular One, sans-serif;
}
html,
body {
  overflow: hidden;
  font-family: Secular One, sans-serif;
}
canvas {
  position: absolute;
  top: 0;
  z-index: -1;
}
h1 {
  margin: 10px;
}
h2 {
  margin-left: 15px;
}
ul {
  margin-left: 35px;
}
.wrapper {
  margin: 10px;
}
