* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #333;
}
h1 {
  position: fixed;
  margin: 15px;
  font-size: 2rem;
  font-family: "Secular One", sans-serif;
  color: #fff;
  mix-blend-mode: difference;
}
.container {
  max-width: 1000px;
  margin: 100px auto;
}
.image-item {
  width: 50%;
  height: auto;
}
.image-item:nth-child(odd) {
  margin: 0 0 0 auto;
}
.image-item:not(:last-child) {
  margin-bottom: 100px;
}
.image-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  opacity: 0;
}
